<?xml version="1.0" encoding="UTF-8"?>
<configuration monitorInterval="30">
    <properties>
        <property name="System_logPath">日誌/系統日誌</property>
        <property name="User_logPath">日誌/運維日誌</property>
        <property name="Debug_logPath">日誌/調試日誌</property>
        <property name="Backup_logPath">日誌/備份</property>
    </properties>
    <appenders>
        <!-- 控制面板輸出訊息 -->
        <Console name="控制面板">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5level %msg%n"/>
        </Console>

        <Console name="調試視窗">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %msg%n"/>
        </Console>

        <!-- 運維日誌 -->
        <File name="線上統計" filename="${User_logPath}/線上統計.txt" append="true">
            <PatternLayout pattern="%msg%n"/>
        </File>

        <RollingFile name="玩家交易" fileName="${User_logPath}/玩家交易.txt"
                     filePattern="${User_logPath}/備份/$${date:yyyy-MM-dd}/%d{yyyy-MM-dd} 玩家交易%i.txt.gz">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %l - %msg%n"/>
            <Policies>
                <OnStartupTriggeringPolicy/>
            </Policies>
        </RollingFile>

        <RollingFile name="玩家聊天" fileName="${User_logPath}/玩家聊天.txt"
                     filePattern="${User_logPath}/備份/$${date:yyyy-MM-dd}/%d{yyyy-MM-dd} 玩家聊天%i.txt.gz">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %l - %msg%n"/>
            <Policies>
                <OnStartupTriggeringPolicy/>
            </Policies>
        </RollingFile>

        <RollingFile name="僱傭商店" fileName="${User_logPath}/僱傭商店.txt"
                     filePattern="${User_logPath}/備份/$${date:yyyy-MM-dd}/%d{yyyy-MM-dd} 僱傭商店%i.txt.gz">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %l - %msg%n"/>
            <Policies>
                <OnStartupTriggeringPolicy/>
            </Policies>
        </RollingFile>

        <RollingFile name="僱傭釣魚" fileName="${User_logPath}/僱傭釣魚.txt"
                     filePattern="${User_logPath}/備份/$${date:yyyy-MM-dd}/%d{yyyy-MM-dd} 僱傭釣魚%i.txt.gz">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %l - %msg%n"/>
            <Policies>
                <OnStartupTriggeringPolicy/>
            </Policies>
        </RollingFile>

        <RollingFile name="道具相關" fileName="${User_logPath}/道具相關.txt"
                     filePattern="${User_logPath}/備份/$${date:yyyy-MM-dd}/%d{yyyy-MM-dd} 道具相關%i.txt.gz">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %l - %msg%n"/>
            <Policies>
                <OnStartupTriggeringPolicy/>
            </Policies>
        </RollingFile>

        <RollingFile name="GM指令使用記錄" fileName="${User_logPath}/GM指令使用記錄.txt"
                     filePattern="${User_logPath}/備份/$${date:yyyy-MM-dd}/%d{yyyy-MM-dd} GM指令使用記錄%i.txt.gz">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %l - %msg%n"/>
            <Policies>
                <OnStartupTriggeringPolicy/>
            </Policies>
        </RollingFile>

        <RollingFile name="封號記錄" fileName="${User_logPath}/封號記錄.txt"
                     filePattern="${User_logPath}/備份/$${date:yyyy-MM-dd}/%d{yyyy-MM-dd} 封號記錄%i.txt.gz">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %l - %msg%n"/>
            <Policies>
                <OnStartupTriggeringPolicy/>
            </Policies>
        </RollingFile>

        <RollingFile name="拍賣場日誌" fileName="${User_logPath}/拍賣場日誌.txt"
                     filePattern="${User_logPath}/備份/$${date:yyyy-MM-dd}/%d{yyyy-MM-dd} 拍賣場日誌%i.txt.gz">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %l - %msg%n"/>
            <Policies>
                <OnStartupTriggeringPolicy/>
            </Policies>
        </RollingFile>

        <!-- 系統日誌 -->

        <RollingFile name="伺服端日誌" fileName="${System_logPath}/伺服端日誌.txt"
                     filePattern="${System_logPath}/備份/$${date:yyyy-MM-dd}/%d{yyyy-MM-dd} 伺服端日誌%i.txt.gz">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %l - %msg%n"/>
            <Policies>
                <OnStartupTriggeringPolicy/>
            </Policies>
        </RollingFile>

        <RollingFile name="資料庫日誌" fileName="${System_logPath}/資料庫日誌.txt"
                     filePattern="${System_logPath}/備份/$${date:yyyy-MM-dd}/%d{yyyy-MM-dd} 資料庫日誌%i.txt.gz">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %l - %msg%n"/>
            <Policies>
                <OnStartupTriggeringPolicy/>
            </Policies>
        </RollingFile>

        <RollingFile name="SQL日誌" fileName="${System_logPath}/SQL日誌.txt"
                     filePattern="${System_logPath}/備份/$${date:yyyy-MM-dd}/%d{yyyy-MM-dd} SQL日誌%i.txt.gz">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %l - %msg%n"/>
            <Policies>
                <OnStartupTriggeringPolicy/>
            </Policies>
        </RollingFile>

        <RollingFile name="數據包日誌" fileName="${System_logPath}/數據包日誌.txt"
                     filePattern="${System_logPath}/備份/$${date:yyyy-MM-dd}/%d{yyyy-MM-dd} 數據包日誌%i.txt.gz">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %l - %msg%n"/>
            <Policies>
                <OnStartupTriggeringPolicy/>
            </Policies>
        </RollingFile>

        <RollingFile name="技能日誌" fileName="${System_logPath}/技能日誌.txt"
                     filePattern="${System_logPath}/備份/$${date:yyyy-MM-dd}/%d{yyyy-MM-dd} 技能日誌%i.txt.gz">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %l - %msg%n"/>
            <Policies>
                <OnStartupTriggeringPolicy/>
            </Policies>
        </RollingFile>

        <RollingFile name="腳本日誌" fileName="${System_logPath}/腳本日誌.txt"
                     filePattern="${System_logPath}/備份/$${date:yyyy-MM-dd}/%d{yyyy-MM-dd} 腳本日誌%i.txt.gz">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %l - %msg%n"/>
            <Policies>
                <OnStartupTriggeringPolicy/>
            </Policies>
        </RollingFile>

        <RollingFile name="移動日誌" fileName="${System_logPath}/移動日誌.txt"
                     filePattern="${System_logPath}/備份/$${date:yyyy-MM-dd}/%d{yyyy-MM-dd} 移動日誌%i.txt.gz">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %l - %msg%n"/>
            <Policies>
                <OnStartupTriggeringPolicy/>
            </Policies>
        </RollingFile>

        <RollingFile name="攻擊日誌" fileName="${System_logPath}/攻擊日誌.txt"
                     filePattern="${System_logPath}/備份/$${date:yyyy-MM-dd}/%d{yyyy-MM-dd} 攻擊日誌%i.txt.gz">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %l - %msg%n"/>
            <Policies>
                <OnStartupTriggeringPolicy/>
            </Policies>
        </RollingFile>

        <RollingFile name="地圖日誌" fileName="${System_logPath}/地圖日誌.txt"
                     filePattern="${System_logPath}/備份/$${date:yyyy-MM-dd}/%d{yyyy-MM-dd} 地圖日誌%i.txt.gz">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %l - %msg%n"/>
            <Policies>
                <OnStartupTriggeringPolicy/>
            </Policies>
        </RollingFile>

        <RollingFile name="數據包處理異常日誌" fileName="${System_logPath}/數據包處理異常日誌.txt"
                     filePattern="${System_logPath}/備份/$${date:yyyy-MM-dd}/%d{yyyy-MM-dd} 數據包處理異常日誌%i.txt.gz">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %l - %msg%n"/>
            <Policies>
                <OnStartupTriggeringPolicy/>
            </Policies>
        </RollingFile>


        <!-- 調試日誌 -->
        <RollingFile name="所有數據包" fileName="${Debug_logPath}/所有數據包.txt"
                     filePattern="${Debug_logPath}/備份/$${date:yyyy-MM-dd}/%d{yyyy-MM-dd} 所有數據包%i.txt.gz">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} %msg%n"/>
            <Policies>
                <OnStartupTriggeringPolicy/>
            </Policies>
        </RollingFile>

        <RollingFile name="BUFF數據包" fileName="${Debug_logPath}/BUFF數據包.txt"
                     filePattern="${Debug_logPath}/備份/$${date:yyyy-MM-dd}/%d{yyyy-MM-dd} BUFF數據包%i.txt.gz">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} %msg%n"/>
            <Policies>
                <OnStartupTriggeringPolicy/>
            </Policies>
        </RollingFile>

        <RollingFile name="連接異常" fileName="${Debug_logPath}/連接異常.txt"
                     filePattern="${Debug_logPath}/備份/$${date:yyyy-MM-dd}/%d{yyyy-MM-dd} 連接異常%i.txt.gz">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} %msg%n"/>
            <Policies>
                <OnStartupTriggeringPolicy/>
            </Policies>
        </RollingFile>

    </appenders>
    <Loggers>

        <!-- 運維日誌 -->
        <Logger name="線上統計" level="ALL">
            <AppenderRef ref="線上統計"/>
        </Logger>

        <Logger name="PlayerTrade" level="info" additivity="false">
            <AppenderRef ref="玩家交易"/>
        </Logger>

        <Logger name="PlayerChat" level="info" additivity="false">
            <AppenderRef ref="玩家聊天"/>
        </Logger>

        <Logger name="HiredMerchant" level="info" additivity="false">
            <AppenderRef ref="僱傭商店"/>
        </Logger>

        <Logger name="HiredFisher" level="info" additivity="false">
            <AppenderRef ref="僱傭釣魚"/>
        </Logger>

        <Logger name="ItemLog" level="info" additivity="false">
            <AppenderRef ref="道具相關"/>
        </Logger>

        <Logger name="CommandProcessor" level="info" additivity="false">
            <AppenderRef ref="GM指令使用記錄"/>
        </Logger>

        <Logger name="AutobanManager" level="info" additivity="false">
            <AppenderRef ref="封號記錄"/>
        </Logger>

        <Logger name="Auction" level="info" additivity="false">
            <AppenderRef ref="拍賣場日誌"/>
        </Logger>

        <!-- 系統日誌 -->
        <Logger name="Database" level="error" additivity="false">
            <AppenderRef ref="控制面板"/>
            <AppenderRef ref="資料庫日誌"/>
        </Logger>
        <Logger name="druid.sql.DataSource" level="ALL" additivity="false">
            <AppenderRef ref="資料庫日誌"/>
        </Logger>

        <Logger name="druid.sql.Connection" level="error" additivity="false">
            <AppenderRef ref="資料庫日誌"/>
        </Logger>

<!--        <Logger name="druid.sql.Statement" level="debug" additivity="false">-->
<!--            <AppenderRef ref="SQL日誌"/>-->
<!--        </Logger>-->

<!--        <Logger name="druid.sql.ResultSet" level="debug" additivity="false">-->
<!--            <AppenderRef ref="SQL日誌"/>-->
<!--        </Logger>-->

        <Logger name="PacketErrorLog" level="error" additivity="false">
			<AppenderRef ref="數據包日誌"/>
        </Logger>

        <Logger name="scripting" level="ALL" additivity="false">
            <AppenderRef ref="腳本日誌"/>
        </Logger>

        <Logger name="Movement" level="error" additivity="false">
            <AppenderRef ref="移動日誌"/>
        </Logger>

        <Logger name="AttackParse" level="error" additivity="false">
            <AppenderRef ref="攻擊日誌"/>
        </Logger>

        <Logger name="MapleMap" level="trace" additivity="false">
            <AppenderRef ref="地圖日誌"/>
        </Logger>

        <!-- 調試日誌 -->
        <Logger name="AllPackets" level="ALL" additivity="false">
            <AppenderRef ref="所有數據包"/>
        </Logger>

        <Logger name="BuffPackets" level="ALL" additivity="false">
            <AppenderRef ref="BUFF數據包"/>
        </Logger>

        <Logger name="Exceptions" level="ALL" additivity="false">
            <AppenderRef ref="連接異常"/>
        </Logger>

        <Logger name="HandlePacket" level="ALL" additivity="false">
            <AppenderRef ref="數據包處理異常日誌"/>
        </Logger>

        <Logger name="AttackPackets" level="ALL" additivity="false">
            <AppenderRef ref="攻擊日誌"/>
        </Logger>

        <Logger name="DebugWindows" level="ALL" additivity="false">
            <AppenderRef ref="調試視窗"/>
        </Logger>

        <root level="info">
            <AppenderRef ref="控制面板"/>
            <AppenderRef ref="伺服端日誌"/>
        </root>
    </Loggers>
</configuration>